<section class="dashboard">
  <div class="row state-overview hidden-xs">
    <div class="col-lg-3 col-sm-6">
      <section class="panel">
        <div class="symbol terques">
          <i class="fa fa-user-plus"></i>
        </div>
        <div class="value">
          <h1 class="count">495</h1>
          <p>Customers</p>
        </div>
      </section>
    </div>
    <div class="col-lg-3 col-sm-6">
      <section class="panel">
        <div class="symbol blue">
          <i class="fa fa-group"></i>
        </div>
        <div class="value">
          <h1 class="count4">54</h1>
          <p>Sub Contractors</p>
        </div>
      </section>
    </div>
    <div class="col-lg-3 col-sm-6">
      <section class="panel">
        <div class="symbol red">
          <i class="fa fa-tags"></i>
        </div>
        <div class="value">
          <h1 class="count2">947</h1>
          <p>Sales</p>
        </div>
      </section>
    </div>
    <div class="col-lg-3 col-sm-6">
      <section class="panel">
        <div class="symbol yellow">
          <i class="fa fa-wrench"></i>
        </div>
        <div class="value">
          <h1 class="count3">128</h1>
          <p>New Jobs</p>
        </div>
      </section>
    </div>
  </div> <!-- END .row -->

  <section class="progress-section">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <section class="panel module">
          <div class="panel-heading">
            Completed Jobs
          </div>
          <div class="panel-body progress-panel">
            <table class="table table-hover personal-task">
              <thead>
                <tr>
                  <th>
                    Customer
                  </th>
                  <th class="hidden-xs">
                    Leader
                  </th>
                  <th>
                    Invoice
                  </th>
                  <th>
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <% 7.times do %>
                  <tr>
                    <td>
                      <%= FFaker::Name.name ||= "John Doe" %>
                    </td>
                    <td class="hidden-xs">
                      <%= image_tag "/images/avatar-#{Random.rand(1..12)}.png", style: "width: 40px;" %>
                    </td>
                    <td>
                      <span class="badge bg-important">
                         <%= number_to_currency(Random.rand(115..2368)) %>
                      </span>
                    </td>
                    <td>
                      <div class="actions">
                        <%= link_to job_view_path, class: "btn btn-yellow" do %>
                          <i class="fa fa-eye"></i>
                          View
                        <% end %>
                         <%= link_to job_view_path, class: "btn btn-green hidden-xs" do %>
                          <i class="fa fa-money"></i>
                          Invoice
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> <!-- END .panel-body -->
        </section> <!-- END .panel -->
      </div> <!-- END .col-xx-xx -->

      <div class="col-sm-12 col-md-6">
        <section class="panel module">
          <div class="panel-heading">
            Jobs Near Completion
          </div>
          <div class="panel-body progress-panel">
            <table class="table table-hover personal-task">
              <thead>
                <tr>
                  <th>
                    Customer
                  </th>
                  <th class="hidden-xs">
                    Leader
                  </th>
                  <th>
                    Billable Time
                  </th>
                  <th>
                    Progress
                  </th>
                  <th>
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <% 7.times do %>
                  <tr>
                    <td>
                      <%= FFaker::Name.name ||= "John Doe" %>
                    </td>
                    <td class="hidden-xs">
                      <%= image_tag "/images/avatar-#{Random.rand(1..12)}.png", style: "width: 40px;" %>
                    </td>
                    <td>
                      <%= "#{Random.rand(1..11)}hr #{Random.rand(14..60)}min" %>
                    </td>
                    <td>
                      <span class="badge bg-important">
                         <%= number_to_percentage(Random.rand(77..99), precision: 0) %>
                      </span>
                    </td>
                    <td>
                      <div class="actions">
                        <%= link_to job_view_path, class: "btn btn-yellow" do %>
                          <i class="fa fa-eye"></i>
                          View
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> <!-- END .panel-body -->
        </section> <!-- END .panel -->
      </div> <!-- END .col-xx-xx -->
    </div> <!-- END .row -->
  </section> <!-- END .progress-section -->

  <section class="graph-section">
    <div id="morris">
      <div class="row">
        <div class="col-lg-6">
          <section class="panel module">
            <div class="panel-heading">
              Sub Contractor Quote vs Invoice Accuracy ($ USD) &amp; Job Count
            </div>
            <div class="panel-body">
              <div id="job-graph" class="graph refresh-graph"></div>
            </div>
          </section>
        </div>

        <div class="col-lg-6">
          <section class="panel module">
            <div class="panel-heading">
              Projected Time Spent vs Actual Time Spent At Jobs &mdash; Past 7 Days
            </div>
            <div class="panel-body">
              <div id="time-graph" class="graph refresh-graph"></div>
            </div>
          </section>
        </div>

        <div class="col-lg-6">
          <section class="panel module">
            <div class="panel-heading">
              Sub Contractor Customer Satisfaction &mdash; Average Rating
            </div>
            <div class="panel-body">
              <div id="customer-graph" class="graph refresh-graph"></div>
            </div>
          </section>
        </div>

        <div class="col-lg-6">
          <section class="panel module">
            <div class="panel-heading">
              Marketing Analytics &mdash; New Customers
            </div>
            <div class="panel-body">
              <div id="marketing-graph" class="graph refresh-graph"></div>
            </div>
          </section>
        </div>
      </div> <!-- END .row -->
    </div> <!-- END #moris -->
  </section> <!-- END .graph-section -->
</section> <!-- END .dashboard -->
