<div class="panel" id="job-task-panel">
  <div class="panel-heading">
    Job task
  </div>
  <div class="panel-body">
    <table class="table table-hover job-table">
      <thead>
        <tr>
          <th>
            Title
          </th>
          <th class="hidden-xs">
            Start
          </th>
          <th class="hidden-xs">
            End
          </th>
          <th>
            Total Time
          </th>
          <th>
            Actions / Status
          </th>
        </tr>
      </thead>
      <tbody>
        <% 7.times do %>
          <% task = %w(mowing_lawn tree_removal gardening water_plants tree_trimming trim_bushes).sample.gsub("_", " ") %>
          <% label = %w(completed in-progress uncomplete completed in-progress completed hold canceled completed in-progress).sample %>
          <tr>
            <td>
              <%= task %>
            </td>
            <td class="hidden-xs">
              <%= l Time.now, format: :short_date %>
            </td>
            <td class="hidden-xs">
              <%= l Time.now.yesterday, format: :short_date %>
            </td>
            <td>
              <%= "#{Random.rand(1..3)}hr #{Random.rand(0..60)}min" %>
            </td>
            <td style="white-space: nowrap;">
              <%= link_to ajax_path(soft: "ajax_load", hard: "jobs_job-details", replace: "job-task-panel"), class: "btn btn-yellow btn-xs", remote: true do %>
                <i class="fa fa-eye"></i>
                View
              <% end %>
              <span class="label label-info">
                <%= label %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table> <!-- END .table -->
  </div> <!-- END .panel-body -->
</div> <!-- END .panel -->