<section class="job-section">
  <div class="panel">
    <div class="panel-heading">
      All jobs
      <span class="pull-right">
        <a href="javascript:;" tabindex="0" id="refresh-btn" class="btn btn-warning btn-xs" onClick="window.location.reload();">
          <i class="fa fa-refresh fa-spin"></i>
          Refresh
        </a> <!-- END #refresh-btn -->
        <a href="javascript:;" class=" btn btn-success btn-xs">
          Create New Project
        </a>
      </span> <!-- END .pull-right -->
    </div> <!-- END .panel-heading -->
    <div class="panel-body" id="search__jobs">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group search-group">
            <input type="text" placeholder="Search Jobs" class="search input-sm form-control">
            <label class="control-label" style="display: none;">Sorry, we couldn't find that job.</label>
          </div> <!-- END .search-group -->
        </div> <!-- END .col-xx-xx -->
      </div> <!-- END .row -->
      <table class="table table-hover p-table">
        <thead>
          <tr>
            <th>
              Project Name
            </th>
            <th>
              Team Member
            </th>
            <th>
              Project Progress
            </th>
            <th>
              Project Status
            </th>
            <th>
              Custom
            </th>
          </tr>
        </thead>
        <tbody class="list">
          <% 15.times do %>
            <%# "Variables" %>
            <% completion = number_to_percentage(Random.rand(14..100), precision: 0) %>
            <tr>
              <td class="p-name search__job__name">
                <a href="javascript:;">
                  <%= FFaker::Company.bs %>
                </a>
                <br>
                <small class="visible-sm visible-xs search__job__date">
                  Created <%= l Time.now, format: :short_date %>
                </small>
                <small class="hidden-sm hidden-xs search__job__date">
                  Created <%= l Time.now, format: :date_time %>
                </small>
              </td> <!-- END .p-name -->
              <td class="p-team">
                <a href="javascript:;">
                  <img alt="image" class="" src="img/chat-avatar.jpg">
                </a>
                <a href="javascript:;">
                  <img alt="image" class="" src="img/chat-avatar2.jpg">
                </a>
                <a href="javascript:;">
                  <img alt="image" class="" src="img/pro-ac-1.png">
                </a>
              </td>
              <td class="p-progress">
                <div class="progress progress-xs">
                  <div style="width: <%= completion %>;" class="progress-bar progress-bar-success">
                  </div> <!-- END .progress-bar -->
                </div> <!-- END .progress -->
                <small>
                  <%= completion %> Complete
                </small>
              </td>
              <td>
                <span class="label label-primary">
                  Active
                </span>
              </td>
              <td>
                <a href="javascript:;" class="btn btn-primary btn-xs">
                  <i class="fa fa-folder"></i>
                  View
                </a>
                <a href="javascript:;" class="btn btn-info btn-xs">
                  <i class="fa fa-pencil"></i>
                  Edit
                </a>
                <a href="javascript:;" class="btn btn-danger btn-xs">
                  <i class="fa fa-trash-o"></i>
                  Delete
                </a>
              </td>
            </tr>
          <% end %>
        </tbody> <!-- END .list -->
      </table> <!-- END .table -->
    </div> <!-- END .panel-body -->
  </div> <!-- END .panel -->
</section> <!-- END .job-section -->
