<section class="job-section">
  <div class="panel">
    <div class="panel-heading">
      Jobs Overview
    </div> <!-- END .panel-heading -->
    <div class="panel-body jobs-table has-yellow-scroll" id="search__jobs">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group search-group">
            <input type="search" placeholder="Search Jobs" class="search input-sm form-control" autofocus="true" maxlength="50">
            <label class="control-label" style="display: none;">Sorry, we couldn't find that job.</label>
          </div> <!-- END .search-group -->
        </div> <!-- END .col-xx-xx -->
      </div> <!-- END .row -->
      <table class="table table-hover job-table">
        <thead>
          <tr>
            <th>
              Customer
            </th>
            <th class="hidden-xs">
              Leader
            </th>
            <th>
              Progress
            </th>
            <th class="hidden-xs">
              Status
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="list">
          <% 15.times do %>
            <%# "Variables" %>
            <% completion = number_to_percentage(Random.rand(14..100), precision: 0) %>
            <% status = ["active", "active", "hold"].sample %>
            <tr>
              <td class="job-name search__job__name">
                <a href="<%= url_for :job_view %>">
                  <%= FFaker::Name.name %>
                </a>
                <br>
                <small class="visible-sm visible-xs search__job__date">
                  Created <%= l Time.now, format: :short_date %>
                </small>
                <small class="hidden-sm hidden-xs search__job__date">
                  Created <%= l Time.now, format: :date_time %>
                </small>
              </td> <!-- END .job-name -->
              <td class="job-team hidden-xs">
                <a href="javascript:;">
                  <img alt="image" class="" src="<%= image_url "/images/avatar-#{Random.rand(1..12)}.png" %>">
                </a>
              </td>
              <td class="job-progress">
                <div class="progress progress-xs">
                  <div style="width: <%= completion %>;" class="progress-bar progress-bar-success" role="progressbar" data-value="<%= completion %>" aria-valuenow="<%= completion %>" aria-valuemin="0" aria-valuemax="100">
                    <%= completion %>
                  </div> <!-- END .progress-bar -->
                </div> <!-- END .progress -->
              </td>
              <td class="hidden-xs job-status">
                <span class="label label-<%= status %>">
                  <%= status.capitalize %>
                </span>
              </td>
              <td>
                <div class="btn-group">
                  <a href="<%= url_for :job_view %>" class="btn btn-yellow">
                    <i class="fa fa-eye"></i>
                    View
                  </a>
                  <button type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">
                      Toggle Dropdown
                    </span>
                  </button>
                  <ul class="dropdown-menu dropdown-dark">
                    <li>
                      <a href="<%= url_for :job_view %>">
                        <i class="fa fa-pencil"></i>
                        Edit
                      </a>
                    </li>
                    <li>
                      <a href="<%= url_for :job_view %>">
                        <i class="fa fa-cog fa-spin"></i>
                        Settings
                      </a>
                    </li>
                  </ul> <!-- END .dropdown-menu -->
                </div> <!-- END .btn-group -->
              </td>
            </tr>
          <% end %>
        </tbody> <!-- END .list -->
      </table> <!-- END .table -->
    </div> <!-- END .panel-body -->
  </div> <!-- END .panel -->
</section> <!-- END .job-section -->
