<%# variables  %>
<% job_name = FFaker::Name.name %>
<% creator_name = FFaker::Name.name %>
<% company_name = FFaker::Company.name %>
<% completion = number_to_percentage(Random.rand(14..100), precision: 0) %>
<% status = ["active", "active", "hold"].sample %>
<% total_time = "#{Random.rand(1..14)}hr #{Random.rand(0..60)}min" %>

<section class="job-section job-view-section">
  <div class="row">
    <div class="col-md-8">
      <div class="panel">
        <div class="panel-heading">
        <strong>
          Viewing Job: <%= job_name %>
        </strong>
        </div>
        <div class="panel-body job-meta">
          <div class="row job-details">
            <div class="job-row-wrapper">
              <div class="job-row">
                <p>
                  <span class="bold">Created by</span>
                  <span class="hidden-xs hidden-sm">:</span>
                  <%= creator_name %>
                </p>
              </div> <!-- END .job-row -->
              <div class="job-row">
                <p>
                  <span class="bold">Status </span>
                  <span class="hidden-xs hidden-sm">:</span>
                  <span class="label label-<%= status %>">
                    <%= status.titleize %>
                  </span>
                </p>
              </div> <!-- END .job-row -->
            </div> <!-- END .job-row-wrapper -->

            <div class="job-row-wrapper">
              <div class="job-row">
                <p>
                  <span class="bold">Created </span>
                  <span class="hidden-xs hidden-sm">:</span>
                  <%= l Time.now, format: :only_date_time %>
                </p>
              </div>
              <div class="job-row">
                <p>
                  <span class="bold">Last Updated</span>
                  <span class="hidden-xs hidden-sm">:</span>
                  <%= l Time.now.yesterday, format: :only_date_time %>
                </p>
              </div> <!-- END .job-row -->
            </div> <!-- END .job-row-wrapper -->

            <div class="job-row-wrapper">
              <div class="job-row">
                <p>
                  <span class="bold">Client</span>
                  <span class="hidden-xs hidden-sm">:</span>
                  <a href="javascript:;">
                    <%= company_name %>
                  </a>
                </p>
              </div> <!-- END .job-row -->

              <div class="job-row">
                <p>
                  <span class="bold">Leader</span>
                  <span class="hidden-xs hidden-sm">:</span>
                  <span class="job-team">
                    <a href="javascript:;">
                      <img alt="image" class="" src="<%= image_url '/images/avatar-1.png' %>">
                      John Doe
                    </a>
                  </span>
                </p>
              </div> <!-- END .job-row -->
            </div> <!-- END .job-row-wrapper -->

            <div class="job-row-wrapper">
              <div class="job-row">
                <p>
                  <span class="bold">3rd Party</span>
                  <span class="hidden-xs hidden-sm">:</span>
                  <span class="job-team">
                    <img alt="image" class="" src="<%= image_url '/images/avatar-1.png' %>">
                    <%= FFaker::Name.first_name %>'s Landscaping
                  </span>
                </p>
              </div> <!-- END .job-row -->

              <div class="job-row">
                <p>
                  <span class="bold">Billable Time</span>
                  <span class="hidden-xs hidden-sm">:</span>
                    <%= total_time %>
                </p>
              </div> <!-- END .job-row -->
            </div> <!-- END .job-row-wrapper -->

            <div class="job-row-wrapper">
              <div class="job-row">
                <p>
                  <span class="bold">Completion</span>
                  <span class="hidden-xs hidden-sm">:</span>
                  <span class="job-team">
                    <%= completion %>
                  </span>
                </p>
              </div> <!-- END .job-row -->

              <div class="job-row">
                <p>
                  <span class="bold">Current Bill</span>
                  <span class="hidden-xs hidden-sm">:</span>
                    <%= number_to_currency(Random.rand(34..2585)) %>
                </p>
              </div> <!-- END .job-row -->
            </div> <!-- END .job-row-wrapper -->
          </div> <!-- END .row -->
        </div> <!-- END .panel-body -->
      </div> <!-- END .panel -->

      <%= render partial: "job_tasks" %>
    </div> <!-- END .col-xx-xx -->

    <div class="col-md-4">
      <div class="panel job-attachment-section">
        <div class="panel-heading">
          Job Attachments
        </div>
        <div class="panel-body">
          <div class="job-priority">
            <span class="bold">Priority</span>
            <ul class="inline-list">
              <li>
                <i class="fa fa-circle text-danger"></i> High Priority
              </li>
            </ul>
          </div> <!-- END .job-priority -->
          <br>
          <div class="job-files">
            <span class="bold">Job files</span>
            <ul class="list-unstyled">
              <li>
                <a href="javascript:;">
                  <i class="fa fa-file-text"></i>
                  Project_quote.docx
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="fa fa-picture-o"></i>
                  Completed_work.jpg
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="fa fa-envelope-o"></i>
                  Mailed_check.png
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="fa fa-file"></i> Contract-07_<%= Time.now.day %>_2015.docx
                </a>
              </li>
            </ul> <!-- END .list-unstyled -->
          </div> <!-- END .job-files -->

          <div class="text-center">
            <a href="javascript:;" class="startFileUpload btn btn-sm btn-yellow">
              Add Files
            </a>
          </div>
        </div> <!-- END .panel-body -->
      </div> <!-- END .panel/.job-attachment-section -->
    </div> <!-- END .col-xx-xx -->
  </div> <!-- END .row -->
</section> <!-- END .job-section -->
