<aside>
  <div id="sidebar"  class="nav-collapse nav-sidebar">
    <ul class="sidebar-menu" id="nav-accordion">
      <li>
        <a href="<%= url_for :home %>">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="sub-menu">
        <a href="javascript:;" >
          <i class="fa fa-wrench"></i>
          <span>Jobs</span>
        </a>
        <ul class="sub">
          <li>
            <%= link_to "View all", jobs_path %>
          </li>
          <li>
            <a href="<%= url_for :jobs %>">
              Completed Jobs
            </a>
          </li>
          <li>
            <a href="<%= url_for :jobs %>">
              Uncompleted Jobs
            </a>
          </li>
          <li>
            <a href="<%= url_for :jobs %>">
              New Jobs
            </a>
          </li>
        </ul> <!-- END .sub -->
      </li> <!-- END .sub-menu -->

      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-group"></i>
          <span>Customers</span>
        </a>
        <ul class="sub">
          <li>
            <a  href="javascript:;" class="disabled">
              View All
            </a>
          </li>
          <li>
            <a  href="javascript:;" class="disabled">
              Quotes
            </a>
          </li>
          <li>
            <a  href="javascript:;" class="disabled">
              Message Center
            </a>
          </li>
          <li>
            <a  href="javascript:;" class="disabled">
              Email Campaign
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Add New
            </a>
          </li>
          <li>
            <a  href="javascript:;" class="disabled">
              Settings
            </a>
          </li>
        </ul> <!-- END .sub -->
      </li> <!-- END .sub-menu -->

      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-truck"></i>
          <span>Sub Contractors</span>
        </a>
        <ul class="sub">
          <li>
            <a href="javascript:;" class="disabled">
              View All
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Quotes
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Payments
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Message Center
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Add New
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Settings
            </a>
          </li>
        </ul> <!-- END .sub -->
      </li> <!-- END .sub-menu -->

      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-building-o"></i>
          <span>Employees</span>
        </a>
        <ul class="sub">
          <li>
            <a href="javascript:;" class="disabled">
              View All
            </a>
          </li>
        </ul> <!-- END .sub -->
      </li> <!-- END .sub-menu -->
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-money"></i>
          <span>Accounting</span>
        </a>
        <ul class="sub">
          <li>
            <a href="javascript:;" class="disabled">
              Overview
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Payables
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Receivables
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Create Invoice
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Reports
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Audit
            </a>
          </li>
          <li>
            <a href="javascript:;" class="disabled">
              Settings
            </a>
          </li>
        </ul> <!-- END .sub -->
      </li> <!-- END .sub-menu -->
    </ul> <!-- END sidebar menu -->
  </div> <!-- END #sidebar -->
</aside> <!-- END sidebar -->
